---
import Layout from '../../layouts/Layout.astro';
import PostList from '../../components/PostList.astro';
import { getCollection } from 'astro:content';
import { RECENT_POSTS_LIMIT } from '../../config';
import { sortByDateDesc } from '../../utils/date';

const posts = sortByDateDesc((await getCollection('blog')).filter((p) => !p.data.draft)).slice(0, RECENT_POSTS_LIMIT);
---

<Layout title="Блог">
  <article>
    <header>
      <h1>Блог</h1>
      <p>Статьи сгруппированы по разделам.</p>
    </header>
    <h2>Свежие статьи</h2>
    <PostList posts={posts} />
  </article>
</Layout>
