{{ define "main" }}
<div class="layout-vscode">
  <aside class="layout-sidebar">
    {{ partial "fs-tree.html" . }}
  </aside>

  <section class="layout-main layout-main-single">
    <article class="prose flat-article single-pane">
      <header>
        <p class="meta">{{ partial "format-date.html" . }}{{ with .CurrentSection }} · {{ .Title }}{{ end }}</p>
        <h1>{{ .Title }}</h1>
      </header>
      <div class="article-content">
        {{ .Content }}
      </div>
    </article>
  </section>
</div>
{{ end }}
